body{
    height: 100%;
    overflow: hidden;
}
p{
    font-size: 8vw;
}
h6{
    font-size: 50vw;
    height: 50%;
    margin: 0;
    vertical-align: middle;
}
#givePoint1{
    margin: 0;
    height: 50%;
    padding: 10px;
}
#givePoint2{
    margin: 0;
    height:50%;
    padding:0;


}
#patsWins{
    height: 100%
}
#patsWinPic.card-img-top{
    height:50%

}